<div class="container">
  <h1>Create a new user</h1>

  <form class="form" (ngSubmit)="onSubmit()" method="POST">
    <div class="form-group">
      <input type="text" placeholder="Username"
       name="username" [(ngModel)]="user.username">
    </div>

    <div class="form-group">
      <input type="email" placeholder="Email"
       name="email" [(ngModel)]="user.email">
    </div>

    <div class="form-group">
      <input type="password" placeholder="Password"
       name="password" [(ngModel)]="user.password">
    </div>
    <div class="form-group">
      <button type="submit" id="button">SAVE</button>
    </div>

  </form>

  <div>
    <table>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of users; let i = index">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            <button class="delete" (click)="editUser(user)"> Editar</button>
          <button class="delete" (click)="deleteUser(i)"> Delete</button>

        </td>
      </tr>
    </table>
  </div>
</div>
