table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.form-group {
  margin-bottom: 5px;
}

input {
  background-color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: solid 1px #dcdcd8;
  width: 50%;
}

button:hover {
  background-color: #4CAF50;;
}

button {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #ec948b;
}

button.delete {
  background-color: #ec3a28;
}
